In [1]:
from flask import Flask, render_template, redirect
from flask_pymongo import PyMongo
from splinter import Browser
from bs4 import BeautifulSoup
import requests
import pymongo

In [ ]:
#app = Flask(__name__)

In [ ]:
#executable_path = {'executable_path': 'chromedriver.exe'}
#browser = Browser('chrome', **executable_path, headless=False)

In [ ]:
#url = 'http://books.toscrape.com/'
#browser.visit(url)

In [2]:
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)

In [3]:
db = client.mars_db
collection = db.articles

In [4]:
# URL of page to be scraped
url = 'https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest'

# Retrieve page with the requests module
response = requests.get(url)
# Create BeautifulSoup object; parse with 'lxml'
soup = BeautifulSoup(response.text, 'lxml')

In [5]:
title = soup.find(class_="content_title").text
print(title)

Why This Martian Full Moon Looks Like Candy

In [6]:
article = soup.find(class_="rollover_description_inner").text
print(article)

For the first time, NASA's Mars Odyssey orbiter has caught the Martian moon Phobos during a full moon phase. Each color in this new image represents a temperature range detected by Odyssey's infrared camera.

In [79]:
import time
executable_path = {"executable_path": "c:\chromedrv/chromedriver.exe"}
browser = Browser("chrome", **executable_path, headless=False)
url = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
browser.visit(url)
browser.click_link_by_partial_text('FULL IMAGE')
html = browser.html
soup = BeautifulSoup(html, "html.parser")

In [91]:
#All Praise The Jeff
thingy = soup.find(class_='carousel_item')['style']
nurl = thingy.split("'")[1]
featured_image_url = 'https://www.jpl.nasa.gov' + nurl

print(feature_image_url)

https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA01322-1920x1200.jpg

In [35]:
#Twitterness
twitter_url = "https://twitter.com/marswxreport?lang=en"
browser.visit(twitter_url)
html = browser.html
soup = BeautifulSoup(html, "html.parser")

In [36]:
#get it got!
mars_weather = soup.find(class_="TweetTextSize TweetTextSize--normal js-tweet-text tweet-text").text
print(mars_weather)

InSight sol 162 (2019-05-12) low -100.2ºC (-148.3ºF) high -20.3ºC (-4.5ºF)
winds from the SW at 4.5 m/s (10.1 mph) gusting to 14.3 m/s (32.0 mph)
pressure at 7.50 hPapic.twitter.com/23uEPf5baF

In [37]:
#Panda tables
import pandas as pd

In [38]:
url = 'https://space-facts.com/mars/'

In [39]:
tables = pd.read_html(url)
tables

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.52 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                  -153 to 20 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [43]:
df = tables[0]
df.columns = ['','']
df.head()

0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)

In [49]:
html_table = df.to_html()
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th></th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.42 x 10^23 kg (10.7% Earth)</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.52 AU)</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Surface Temperature:</td>\n      <td>-153 to 20 °C</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [111]:
import requests
executable_path = {"executable_path": "c:\chromedrv/chromedriver.exe"}
browser = Browser("chrome", **executable_path, headless=False)
url = "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
browser.visit(url)

In [112]:
html = browser.html
soup = BeautifulSoup(html, "html.parser")
hemisphere_image_urls = []

#results_list = soup.find_all(class_='item')

#for result in results_list:
    #temp = {}
browser.click_link_by_partial_text('Hemisphere Enhanced')
response = requests.get(url)
soup = BeautifulSoup(response.text, lxml)
image_url = soup.find(target='_blank')['href']

    #image_title = result.find('h3', class_ ='description').text
    #temp.add["Title": "image_title"]
    #link = result.find(class_='itemLink product-item')['href']
    #hemisphere_image_urls.append(temp)
    
print(image_url)


#for article in page
#browser.click_link_by_partial_text('FULL IMAGE')
#html = browser.html
#soup = BeautifulSoup(html, "html.parser")

TypeError: 'NoneType' object is not subscriptable